*{
    background-color: #75982E;
}
h1{
    color: #288328;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    color: #1E6262;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.resaltar{
    color: #003030;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
*{
    background-color: #75982E;
}
.importante{
    color: aquamarine;
}
.diferenter{
    color: blueviolet;
}
ul{
    list-style-type: georgian;
}
ol{
    list-style-type: square;
}