.apagado {
    background-color: black;
}
.prendido{
    background-color: lightgoldenrodyellow;
}
.foco {
    height:250px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    }
button{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }