*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --sombra:  0 0 15px -1px rgba(0, 0, 0, 0.644);
    --fondo:  #FF8484;
    --titulos: #AB1515;
    --botones: #840000;
    --correcto: #2ee7e7;
    --incorrecto: #FF0000;
    --texto: rgba(8, 8, 8, 0.575);

}
.imgLogo{
    width: 40px;
    margin-left: 4px;
    padding-top: 8px;
   
   
}
.btn_menu  {
 color: #fff;
 margin-left: auto;
 margin-right: 10px;
 margin-top: auto;
 margin-bottom: auto;
 cursor:pointer;

}
.nav{
    display: flex;   
    box-shadow: var(--sombra); 
    height: 60px;
    width: auto;
    background-color: var(--fondo);
    justify-content: space-between;
    
   
}

ul.navigation{
    display: none;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--fondo);
    padding-top: 60px;
    position: relative;
    border-radius: 5px;
}
ul.navigation.show{
    display: flex;
}
.btn_menu.close{
    display: none;
}
.nav__botonera li{
    margin: 0rem;
    padding:.5rem;
}
.nav__botonera a{
    text-decoration: none;
}
.nav__botonera li a{
    text-transform: uppercase;
    color: #fff;
    padding: .5rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}
.titulo-index{
    color: var(--titulos);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.qypq{
    width: auto;
    box-shadow: var(--sombra);
}

.q{
    margin: 4%;
}
.qypq h3{    
    display: flex;
    justify-content: center;
    margin: 20px;
    color: var(--titulos);
}

.qypq p{
    color: var(--texto);
}
.pq{
    margin: 1%;
}
.import{
    display: flex;
    box-shadow: var(--sombra);
    flex-direction: column;
    justify-items: center;
}
.import__titulo {
    font-size: x-large;
    display: flex;
    margin-top: 10%;
    margin-left: 15%;
    color: var(--titulos);
}
.import__list ul{
   flex-direction: column;
    list-style-image: url('../imagenes/gota.png');
    display: flex;
    font-size: 12px;
    width: 80%;
    margin-left: 15%;
}

.import__list li{
    margin: 5%;
}

.contenedor-faq{
    box-shadow:  var(--sombra);
    padding-bottom: 10px;
}

.titulo-faq{
    text-align: center;
    margin: 2rem;
    color: var(--titulos);
}
.pregunta__faq{
    margin: 1.7rem;
    list-style-image: url(../imagenes/pregunta.png);
    font-weight: bold;
    color: var(--titulos);
}
.respuesta__faq{
    margin: 2rem;
    list-style-image: url(../imagenes/respuesta.png);
}
.titulo-faq h3{
    margin-top: 1rem;
    padding-top: 2rem;
}

table{
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-radius: 4px;
    box-shadow:var(--sombra);       
}

td,th {
    border: solid 2px #000;
    padding-left: 20px; 
    padding-right: 20px; 
    padding-top: 10px; 
    padding-bottom: 10px;
}

th{
    background-color: var(--fondo);
}

caption{
    padding-top: 20px;
    font-style: italic;
    color: var(--titulos);
}

footer {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--texto);
    background-color: var(--fondo);
    width: 100%;
    margin-top: 15px;
}

footer a{
   color: #fff;
   text-transform: capitalize;
}

footer  :hover{
    color: #000;
}
.form{
    box-shadow: var(--sombra);
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.form__quieroDonar{
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    background-color: var(--fondo);
    box-shadow: var(--sombra);
}
.form__titulo{
    text-align: center;
    color: var(--titulos);
    border-radius: 2px;
    background-color: var(--fondo);
}

.form input, button, label, select{
    margin: .2rem;
    height: 1.5rem;
    
}
.form button{
   align-items: center;
   width: 95%; 
}

.form label {    
    display: block;
}

.contenedor-captcha{
width: auto;
border-radius: 10px;
padding: 22px 30px 40px;
background-color: var(--fondo);
}

.contenedor-captcha .captcha-area{
    display: flex;
    height: 65px;
    margin: 30px 0px 20px;
    align-items: center;
    justify-content: space-between;
}

.captcha-area .captcha-img{
    height: 100%;
    width: 345px;
    border-radius: 5px;
    background-color: #000;
    position: relative;
    user-select: none;
}
.captcha-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.95;
    border-radius: 5px;
}
.captcha-img .captcha{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    letter-spacing: 10px;
    text-align: center;
    width: 100%;
    color: #fff;
    text-shadow: 0 0 2px var(--titulos);

}
.contenedor-captcha button{
    border: none;
    outline: none;
    color: #fff;
    background: var(--titulos);
    cursor: pointer;
    height: 1.5rem;
}
.captcha-area .refresh-btn{
    width: 75px;
    height: 100%;
    font-size: 25px;
}

.contenedor-captcha .input-area{
    height: 60px;
    width: 100%;
    position: relative;
}
.user{
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 20px;
    border: 1px solid #bfbfbf;

}
.user:is(:focus, :valid){
    border: 2px solid var(--titulos);
    padding-left: 19px;

}
.contenedor-captcha .check-btn{
    position: relative;
    right: 7px;
    top: 50%;
    height: 22px;
    width: 90px;
    padding: 0 20px;
    font-size: 17px;
    pointer-events: none;
    opacity: 0;
    transform: translate(230%,-130% );
}
.user:valid + .check-btn{
    opacity: 1;
    pointer-events: auto;

}
.status-txt{
    display: none;
    padding-bottom: 2rem ;
    margin: 20px 0 -5px 0;
    text-align: center;
    font-size: 18px;
    color: var(--incorrecto);
}
.enviar-btn{
    border: none;
    outline: none;
    color: #fff;
    background: var(--titulos);
    cursor: pointer;
    height: 1.5rem;
}
.enviado{
    margin: 2rem;   
    color: var(--correcto);
    font-size: larger;
}

.contenedor-captcha button{
    border: none;
    outline: none;   
    border-radius: 5px;
    cursor: pointer;
}
.contedor_contacto{
    text-align: center;
    margin-top: 12.7rem;
    margin-bottom: 12.7rem;
}
.contedor_contacto h1{
    color: var(--titulos);
}
.contedor_contacto ul{
    list-style: none;
    
}
.contedor_contacto li {
    margin: 1rem;
}


.tDinamic button, .modal button{
    border: none;
    outline: none;   
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--titulos);
    color: #fff;
    text-transform: capitalize;
    height: 25px;
    width: auto;
    padding: 3px;
   justify-content: center;
   margin: 2px;
}
.tDinamic h3{
    color: var(--titulos);
    width: auto;
    margin: 15px;
    display: block;
    text-align: center
}
.tDinamic p{
    color: var(--texto);
    margin: 20px;
    display: block;
    text-align: center;
}


.modal-container{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 25%;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.modal{
    width: 30%;
    height: 50%;
    background-color: var(--fondo);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid 2px black;
    border-radius: 15px;
    transition: transform 2s;
    transform: translateX(0%);
    box-shadow: var(--sombra);
}
.modal input{
    width: 90%;
    height: 25px;    
    margin: 5px;
    border: solid 2px;
}

.modal-close{
    transform: translateX(-300%);
}

.visible{
    visibility: visible;
    opacity: 1;
}
.hidden{
    visibility: hidden;
    opacity: 0;
}
.paginacion {
    display: flex;
    justify-content: space-evenly;

}




@media only screen and (min-width: 600px){
    .btn_menu{
        display: none;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        box-shadow: var(--sombra);
        align-items: center;
        background-color: var(--fondo);
    }

    .nav__botonera ul{
        display: flex;
        flex-direction: row ;
        list-style: none;
        padding-top: 0px;
        margin-top: 0;
        
    }
    .nav__botonera li{
        margin: 0rem;
        padding:.5rem;
        
    }
    .nav__botonera a{
        text-decoration: none;
        
    }
    .nav__botonera li a{
        text-transform: uppercase;
        color: #fff;
        padding: .5rem;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        
    }
    
    .nav__botonera li a:hover{
        transition: 0.3s;
        color: #000;
        background-color: #D3363A;
        text-decoration: underline;
        border: groove rgba(0,0,0,.4) .1rem ;
        
    }
    .contenedor{
        display: flex;       
    }
    .import{
        display: flex;
        width: 15%;
    }
    .import ul{
        width: 100%;
        flex-wrap: wrap;
    }
    .qypq{
        width: 75%;
        margin-left: 5%;
    }
    .imgLogo{
        width: 50px;
       
    }
    .import__list{
        width: 150px;
        
    }
    .contenedor-captcha .check-btn{
        transform: translate(-100px, 100px);
    }

    
    .form{
        width: 485px;  
  
    }
    .tDinamic button{
       width: 10rem
    }
    
    .contenedor-captcha .check-btn{
        transform: translate(380%,-130% );
    }
}
