<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Layout</title>
</head>
<body>
    <div class="encabezado">
        <div class="logo">
            Logo
        </div>
        <div>
            <ul class="botonera">
                <li>Boton 1</li>
                <li>Boton 2</li>
                <li>Boton 3</li>
            </ul>
        </div>
    </div>
    <div class="contenedor">
        <div class="izquierda">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta obcaecati officia molestiae, dolores assumenda facilis impedit temporibus repellat, cupiditate maxime tenetur reprehenderit libero officiis exercitationem corrupti? Eum beatae distinctio consectetur.</p>
        </div>
        <div class="centro">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim obcaecati aspernatur eveniet perspiciatis, doloremque tempore. Quam rerum unde numquam assumenda neque doloremque sit deserunt culpa hic. Voluptatibus totam sint veniam.</p>
        </div>
        <div class="centro">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim obcaecati aspernatur eveniet perspiciatis, doloremque tempore. Quam rerum unde numquam assumenda neque doloremque sit deserunt culpa hic. Voluptatibus totam sint veniam.</p>
        </div>
        <div class="centro">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim obcaecati aspernatur eveniet perspiciatis, doloremque tempore. Quam rerum unde numquam assumenda neque doloremque sit deserunt culpa hic. Voluptatibus totam sint veniam.</p>
        </div><div class="centro">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim obcaecati aspernatur eveniet perspiciatis, doloremque tempore. Quam rerum unde numquam assumenda neque doloremque sit deserunt culpa hic. Voluptatibus totam sint veniam.</p>
        </div><div class="centro">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim obcaecati aspernatur eveniet perspiciatis, doloremque tempore. Quam rerum unde numquam assumenda neque doloremque sit deserunt culpa hic. Voluptatibus totam sint veniam.</p>
        </div>
        <div class="derecha">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates vitae, ullam consequatur molestiae sed sequi exercitationem delectus quas qui ad quaerat veniam cupiditate voluptas laborum. Totam in aperiam vitae eius.</p>
        </div>
    </div>
</body>
</html>