*{
    margin: 0;
    padding: 0;
    
}
body{
    display: grid;
    grid-template-rows:1fr 50px repeat(4, 1fr)50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header header redes"
    "nav nav nav"
    "teta promo2 aside"
    "promo3 promo4 aside"
    "promo5 . aside"
    ". .      aside"
    "footer footer footer";
}
.logo{
    width: 75px;
   
}
.redes{
    grid-area: redes;    
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.redes a{
    margin: 3px;
}
.header{
    grid-area: header;
    background-color: red;
    justify-content: right;

}
.nav{
    background-color: black;
    grid-area: nav;
}
ul{
    list-style: none;    
    display: flex;
    justify-content: center;
}
li{
    color: wheat;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
}
.promo1{
    background-color: blanchedalmond;
    grid-area: teta;
}
.promo2{
    background-color: blueviolet;
    grid-area: promo2;
}
.promo3{
    background-color: beige;
    grid-area: promo3;
}
.promo4{
    background-color: limegreen;
    grid-area: promo4;
}
.promo5{
    background-color: cornflowerblue;
    grid-area: promo5;
}
.aside{
    background-color: crimson;
    grid-area: aside;
    margin-left: auto;
    margin-right: auto;
}
h3{
text-align: center;
}
.aside p{
    text-align: center;
}
footer{
    background-color: tomato;
   
   
    grid-area: footer;
    
}
.copyr{
    margin-top: 15px;
    text-align: center;
}
a:hover{
    color: brown;
}
footer p{
    font-family: sans-serif;
    font-size: 11px;
}
h1{
    color: coral;
    font-size: 14px;
}
aside h1{
    color: red;
}
h3{
    font-size: 0.7em;
}
aside p{
    font-size: 0.5em;
}
.copy:hover{
    background-color: yellow;
    color: black;

}